/* About.css */
.about-container {
  max-width: 800px;
  margin: auto;
  padding: 40px 20px;
  font-family: 'Segoe UI', sans-serif;
}

.about-container h1,
.about-container h2 {
  color: #65459a;
}

.about-container p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}
